html, body {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
}

.container {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "root";
  height: 100vh; 
  background-color: rgb(86, 17, 110);
}

.title { 
  grid-area: title;
  padding-right: 24%;
  background-color: rgb(72, 4, 95);
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  color: white; 
  font-size: 19px;
}

.root { 
  grid-area: root;
  padding: 10px 10px 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: rgba(201, 57, 249, 0.838);
}

.box {
  display: flex;
  color: rgb(17, 17, 17);
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  padding-right: 33%;
  justify-content: space-around;
}

h2{
  margin-bottom: -0.1px;
}

input {
  background-color: rgb(226, 222, 222);
  padding: 12px;
  margin: 5px;
  margin-top: 7px;
  color: black;
  border-style: none;
  border-radius: 4px;
}

button {
  background-color: rgba(20, 20, 20);
  margin: 5%;
  color: white;
  padding: 12px 22px;
  font-size: 16px;
  border-radius: 4px;
  border-style: none;
}

button:hover {
  background-color: rgb(59, 59, 59);
  transform: scale(1.1);
  cursor: pointer;
}