html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.8fr;;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "root"
    "footer";
  height: 100vh; 
}

.title { 
  grid-area: title;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  text-align: center;
  padding-left: 10%;
  background-color: rgb(96, 1, 1, 0.8);
  color: white; 
  font-size: 19px;
}

.root { 
  grid-area: root;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: rgb(96, 1, 1, 0.8);
}

.footer { 
  grid-area: footer;
  text-align: center;
  background-color: rgb(96, 1, 1); 
}

.box {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  justify-content: space-around;
}

input {
  background-color: rgba(225, 235, 241, 0.6);
  padding: 5px;
  margin: 5px;
  color: black;
}

button {
  background-color: rgba(187, 131, 138, 0.7);
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(148, 4, 21);
  transform: scale(1.1);
  cursor: pointer;
}